* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Cormorant Infant";
  color: #195557;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.container__header {
  max-width: 1800px;
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
}

.txt__raleway {
  font-family: "Raleway", medium;
}

.header__box__left {
  display: flex;
  justify-content: end;
  max-width: 1100px;
  width: 100%;
  align-items: center;
}
.header__box__link {
  text-transform: uppercase;
}
.header__box__links {
  max-width: 549px;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.header__telephone__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 283px;
  width: 100%;
  margin-right: 80px;
  margin-left: 132px;
}
.header__telephone__box__phone {
  font-family: "Raleway", medium;
  font-size: 22px;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo__section {
  margin-top: -74px;
  padding-top: 274px;
  background: url("../../img/promo/leftsonic.svg") no-repeat left bottom, url("../../img/promo/rightsonic.svg") no-repeat right bottom, url("../../img/promo/promo_background.svg") no-repeat top/cover;
}
.promo__title__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 127px;
}
.promo__title__box__paragraph__first {
  text-transform: uppercase;
  font-size: 50px;
  color: #70908B;
  margin: 18px 0;
}
.promo__title__box__paragraph__second {
  color: #70908B;
  font-size: 14px;
  margin-bottom: 34px;
}
.promo__title__box__btn {
  background-color: #70908B;
  padding: 26px 116px;
  border-radius: 40px;
  font-size: 14px;
  color: #fff;
}
.promo__ellipse__box {
  display: flex;
  justify-content: space-between;
  max-width: 874px;
  width: 100%;
}
.promo__ellipse__box__el {
  max-width: 182px;
  width: 100%;
  max-height: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-bottom: 90px;
}
.promo__ellipse__box__el__top {
  margin-top: 0;
}
.promo__ellipse__box__el__title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.promo__ellipse__box__el__description {
  font-size: 14px;
  text-align: center;
  font-family: "Raleway", regular;
}

.slider {
  margin-bottom: 90px;
}
.slider__box {
  display: flex;
  justify-content: space-between;
}
.slider__box__card {
  max-width: 570px;
  width: 100%;
  max-height: 397px;
  height: 100%;
  border-radius: 25px;
  padding-top: 54px;
  padding-left: 60px;
}
.slider__box__card__hog__name {
  font-weight: bold;
  font-size: 40px;
  max-width: 204px;
  width: 100%;
  margin-bottom: 17px;
}
.slider__box__card__hog__description {
  font-size: 14px;
  line-height: 160%;
  color: #000000;
  max-width: 182px;
  width: 100%;
  height: 114px;
  margin-bottom: 7px;
}
.slider__box__card__peach {
  background: url("../../img/slider/peach_hog.png") left bottom no-repeat, url("../../img/slider/peach_hog_bg.svg") no-repeat center/cover;
}
.slider__box__card__blue {
  background: url("../../img/slider/blue_hog.png") right bottom no-repeat, url("../../img/slider/blue_hog_bg.svg") no-repeat center/cover;
}
.slider__box__card__price__old {
  color: #C2CCCA;
  font-weight: bold;
  text-decoration: line-through;
  font-size: 20px;
}
.slider__box__card__price__new {
  color: #195557;
  font-weight: bold;
  font-size: 40px;
}
.slider__box__card__info__btn {
  position: relative;
  top: -346px;
  right: -446px;
}
.slider__box__card__add__btn {
  position: relative;
  top: 0;
  left: 415px;
}
.slider__box__card__deal__percentage {
  max-width: 68px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  background: #70908B;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 7px;
  top: -380px;
  left: -100px;
}/*# sourceMappingURL=style.css.map */